div(style='\
            padding: 7px 20px;\
            position: relative;\
            border-bottom: 1px solid #3f413f;')
    i(style='font-size:15px;')  Навигация
span.leftblok_contener2
    .leftblok1
        .miniblock
            .mini(style='border-top:0px; padding-top:0px;')
                i(style='font-size:14px;') Категории
                br
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Биография') Биографии
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Боевик') Боевики
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Вестерн') Вестерны
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Военный') Военные
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Детектив') Детективы
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Детский') Детские
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Документальный') Документальные
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Драма') Драмы
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/История') Исторические
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Комедия') Комедии
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Криминал') Криминал
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Мелодрама') Мелодрамы
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Мультфильм') Мультфильмы
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Мюзикл') Мюзиклы
                br
                a(href='#{protocol}#{domain}/#{urls.country}/Россия') Отечественные
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Приключения') Приключения
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Семейный') Семейные
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Спорт') Cпортивные
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Триллер') Триллеры
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Ужасы') Ужасы
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Фантастика') Фантастика
                br
                a(href='#{protocol}#{domain}/#{urls.genre}/Фэнтези') Фэнтези
                br
                br
                a(href='#{protocol}#{domain}/#{urls.genre}', style='text-decoration:none;') Все жанры >>>
                .poloska
            div(style='padding-top:20px;')
            .mini(style='border-top:0px; padding-top:0px;')
                i(style='font-size:14px;') По году
                br
                br
                a(href='#{protocol}#{domain}/#{urls.year}/2014') 2014 года
                br
                a(href='#{protocol}#{domain}/#{urls.year}/2015') 2015 года
                br
                a(href='#{protocol}#{domain}/#{urls.year}/2016') 2016 года
                br
                br
                a(href='#{protocol}#{domain}/#{urls.year}', style='text-decoration:none;') Все года >>>
                .poloska
            .mini
                i(style='font-size:14px;') По странам
                br
                br
                a(href='#{protocol}#{domain}/#{urls.country}/США') Американские
                br
                a(href='#{protocol}#{domain}/#{urls.country}/Великобритания') Британские
                br
                a(href='#{protocol}#{domain}/#{urls.country}/Россия') Российские
                br
                a(href='#{protocol}#{domain}/#{urls.country}/Индия') Индийские
                br
                a(href='#{protocol}#{domain}/#{urls.country}/Германия') Немецкие
                br
                a(href='#{protocol}#{domain}/#{urls.country}/Франция') Французские
                br
                br
                a(href='#{protocol}#{domain}/#{urls.country}', style='text-decoration:none;') Все страны >>>
                .poloska
            .mini
                i(style='font-size:14px;') Сериалы
                br
                br
                a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}?sort=premiere-up') Новые
                br
                a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}?sort=kinopoisk-rating-up') Лучшие
                br
                a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}?sort=kinopoisk-vote-up') Популярные