doctype html
html(lang='ru-RU')
    head
        include head
    body
        .header_black
        .wrapper
            .contener
                .contener2
                    .content
                        #content
                            .fullstory(style='width:95%;')
                                .shortstorytitle
                                    h1= movie.title_ru + ' (' + movie.year + ') кадры'
                                .fullimg
                                    #news(style='display:inline;')
                                        a(href=movie.url)
                                            img(src=movie.poster, style='float:left; width:200px;', alt=movie.title_ru + ' (' + movie.year + ')', title=movie.title_ru + ' (' + movie.year + ')')
                                        if movie.description
                                            != movie.description
                                            br
                                            br
                                        b Год выпуска:
                                        != ' ' + movie.year_url
                                        br
                                        if movie.countries_url
                                            b Страна:
                                            != ' ' + movie.countries_url
                                            br
                                        if movie.genres_url
                                            b Жанр:
                                            != ' ' + movie.genres_url
                                            br
                                        b Премьера:
                                        != ' ' + movie.premiere
                                        br
                                        br
                                        if movie.kp_rating
                                            b(style='color:#fff;') Рейтинг КиноПоиск:
                                            != ' ' + movie.kp_rating / 10 + ' (' + movie.kp_vote + ')'
                                            br
                                        if movie.imdb_rating
                                            b(style='color:#fff;') Рейтинг IMDB:
                                            != ' ' + movie.imdb_rating / 10 + ' (' + movie.imdb_vote + ')'
                                            br
                                        br
                                        if movie.directors_url
                                            b Режиссер:
                                            != ' ' + movie.directors_url
                                            br
                                        if movie.actors_url
                                            b В ролях:
                                            != ' ' + movie.actors_url
                                .stronk
                                    strong= 'Кадры из ' + movie.title_ru + ' (' + movie.year + ')'
                            .bot-left
                                .bot-navigation(style='text-align:center;')
                                    a(href=movie.url)= 'Информация'
                                    a(href=movie.url + '/trailer')= 'Трейлер'
                                    a(href=movie.url + '/download')= 'Скачать'
                                    a(href=movie.url + '/online')= 'Смотреть онлайн'
                                    span.active= 'Кадры'
                            div(style='clear:both')
                            .screens
                                if movie.pictures && movie.pictures.length
                                    each picture in movie.pictures
                                        img(src=picture, alt=movie.title_ru + ' (' + movie.year + ')', title=movie.title_ru + ' (' + movie.year + ')', style='width:100%;')
                            .icons2
                                div(style='padding-left:6px;')
                                    ul.social-likes
                                        li.vkontakte(title='Поделиться ссылкой во Вконтакте') Поделиться
                                        li.facebook(title='Поделиться ссылкой на Фейсбуке') Нравится
                                        li.twitter(title='Поделиться ссылкой в Твиттере') Твитнуть
                                        li.odnoklassniki(title='Поделиться ссылкой в Одноклассниках') Класс!
                                        li.mailru(title='Поделиться ссылкой в Моём мире') Нравится
                            each categories in movies
                                if categories.length
                                    each data in categories
                                        .relatednews_title(style='text-align:center;')
                                            i!= data.name
                                        .relatednews
                                            ul.ul_related(style='text-align:center; margin: 10px auto;')
                                                each movie in data.related
                                                    li
                                                        a(href=movie.url, title=movie.title_ru + ' (' + movie.year + ')')
                                                            img(src=movie.poster, style='height:165px; width:110px')
                                                            = movie.title_ru + ' (' + movie.year + ')'
                            div(style='clear:both')
                            if disqus
                                #comments-list(style='padding:20px;')
                                    #disqus_thread
                                    script
                                        | var disqus_config=function(){this.page.url="http://#{domain}#{movie.url}",this.page.identifier="http://#{domain}#{movie.url}"};!function(){var e=document,t=e.createElement("script");t.src="//#{disqus}.disqus.com/embed.js",t.setAttribute("data-timestamp",+new Date),(e.head||e.body).appendChild(t)}();
                    span.leftblok_contener
                        include leftmenu
            .header
                include header
            .footer
                include footer