.leftblok1_header
    .navigation
        .topmenu
        .deepnavigation
            table.menu
                tbody
                    tr
                        td.item
                            a(href='#{protocol}#{domain}')
                                span.name Главная
                        td.item
                            a(href='#{protocol}#{domain}/#{urls.year}/2016')
                                span.name Новинки
                        td.item
                            a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}')
                                span.name Сериалы
                        td.item
                            a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.mult}')
                                span.name Мультфильмы